<%= form_with url: "/search", method: :get, remote: true do |form|%>
    <%= form.text_field :q, placeholder: "Search" %>
    <button class="actions btn btn-light" type="form.submit">
        <i class="fas fa-search"></i>
    </button>  
<% end %>